@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EmployeeManagementSystem.Models.Employee

<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<div class="text-center">
    <h1 class="h2">Add New Employee</h1>   

</div>
<br />
<div class="col-md-12 text-center">
    <div class="row">
        <div class="col-md-4">
            <span class="text-danger">@ViewData["Error"]</span>
        </div>
    </div>
    
</div>
<br />
<form asp-action="AddNewEmployee" asp-controller="Employee" method="post">
    <div class="text-center">
        <div class="col-md-12">       

            <div class="row">
                <div class="col-sm-2">
                    <lable>Name : </lable>
                </div>
                <div class="col-md-4">
                    <input class="form-control" asp-for="Name" type="text" placeholder="Enter Name" required pattern="[a-zA-Z]*" />
                 
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-2">
                    <lable>Email : </lable>
                </div>
                <div class="col-md-4">
                    <input class="form-control" asp-for="Email" type="email" placeholder="Enter Email" required />
                
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-2">
                    <lable>Date Of Birth : </lable>
                </div>
                <div class="col-md-4">
                    <input class="form-control" asp-for="DOB" type="text" id="txt_dob" placeholder="Select Date" required />
                  
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-2">
                    <lable>Department:</lable>
                </div>
                <div class="col-md-4 form-group">                   
                   
                    <select asp-for="Dept" class="form-control dropdown">
                        <option value="" selected>Select Department</option>
                        <option value="IT">IT</option>
                        <option value="Marketing">Marketing</option>
                          <option value="HR">HR</option>
                        <option value="Finance">Finance</option>
                    </select>                   
                </div>
            </div>
        </div>
       <div class="col-md-12 row"><br /></div>
       <div class="col-md-12 row">
           <div class="col-md-2">
                <a class="btn btn-outline-primary"  asp-action="Index" asp-controller="Employee">Back to List</a>
           </div>
            <div class="col-md-8">
                <button class="btn btn-outline-success" type="submit" asp-action="AddNewEmployee" asp-controller="Employee">Submit</button>
            </div>
       </div>
      
       
    </div>
   
    
    
</form>

@section Scripts
    {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {            
            $("#txt_dob").datepicker({
                dateFormat: 'dd-mm-yy',
                minDate: new Date(1980, 0, 1),
                maxDate: new Date(2000, 11, 31),
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
}

